.invalid-feedback {
    font-weight: bold;
    letter-spacing: 0.16em;
    font-size: 1.2em;
    color: #f00
}
label {
    font-size: 1.1rem!important;
    color: #8f9967;
    font-weight: bold;
}
.image-editor canvas {
    min-width: 100%!important;
    margin: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.input-file-field {
    margin: 0;
}
legend {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 1%;
    padding-top: 1%;
    border-radius: 0.8rem;
    font-style: italic;
    letter-spacing: 0.3rem;
    font-size: 1.2rem;
    cursor: default;
}
div input[type="text"], div input[type="password"], div input[type="email"], div input[type="tel"] {
    border: 2px solid #b2b2b2;
    border-radius: 5px;
    text-align: center;
}
input.is-valid {
    border-color: #7f9455!important;
}
